body{
    width: 960px;
    margin: auto;
}

.instructions{

    text-align: center;
}

#products{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

label {
    width: 300px;

}

input {
display: none;

}